
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position:sticky;
    z-index: 111;
    top: 0;
 
    width: 100%;
    display: flex;
    padding: 7px 10%;
    background-color: rgb(219, 222, 224);
    align-items: center;
    justify-content: space-around;
 
}



header .logo a{
    color: gray;
    font-size: 28px;
     font-weight: bolder;
    
}
header .logo a span{
    color: rgb(238, 97, 72);
}
header .menu{

    margin-left: auto;


}


header .menu ul{

}

header .menu ul li{
     list-style: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
   
}


header .menu ul li a{
    transition: .2s;
    text-decoration: none; color: #000;
}
header .menu ul li a:hover{
    color: rgb(238, 97, 72);
}


header .shop{
    margin-left: 40px;
    transition: .3s;
    padding: 10px;
    font-size: 22px;
}

header .shop:hover{
    color: rgb(238, 97, 72);
    transform: scale(150%);
    cursor: pointer;
}